<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.game.eskillsgame"
		version="0.0.1">
	<name>eskillsgame</name>
		<gap:platform name="Cassie and Niamh" />
		<gap:platform name="This Eskills game was delveloped by Cassie and Niamh for ITGirls 2014!" />
		<preference name= "android" /> value="portrait" />
		<preference name="ios" value="true" />
		<icon src="icon.png" />
</widget>
